# Node
node_modules/
npm-debug.log*

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Local env
.env
.env.*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

